<div class="container w-50 mx-auto">
    <h2 class="subtitle text-center h2 mt-3 mb-3">Grieta del invocador</h2>
    <div class="container__img">
        <img src="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/styles/1200/public/media/image/2015/02/447636-grieta-invocador.jpg?itok=kRMTFh9d" alt="">
    </div>

    <h2 class="subtitle text-center h2 mt-3 mb-3">ARAM | Abismo de los Lamentos</h2>
    <div class="container__img--aram">
        <img src="https://e.rpp-noticias.io/xlarge/2019/03/20/112411_767721.jpg" alt="">
    </div>

    <h2 class="subtitle text-center h2 mt-3 mb-3">TFT | Team Fight Tactics</h2>
    <div class="container__img">
        <img src="https://esports.as.com/2019/06/27/tacticas-maestras/Analizamos-mejores-objetos-Tacticas-Maestras_1258384158_209194_1440x810.jpg" alt="">
    </div>


    
    
</div>