.container__img{
    height: 550px;
    width: 550px;
    margin: 0 auto;
}
.container__img--aram{
    height: 300px;
    width: 570px;
    margin:  0 auto;
    margin-bottom: 8rem;
}
img{
    max-width: 100%;
    object-fit: cover;
}
.subtitle{
    color: #b18140;
}